{% extends "Farmer/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <br>
    <div class="row">
    <div class="col-md-1"></div>
        <div class="col-md-6">
    <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">เพิ่มข้อมูล ้อมูลการเก็บเกี่ยวของ</h3><br>
                <h3>{{ viewplant.fruit_name }}</h3> <h3 class="box-title">สายพันธุ์ :</h3> <h3>{{ viewplant.fruit_breed }}</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                <form method="POST" enctype="multipart/form-data">
    <div class="form-group">
    {% csrf_token %}
        <div>
            <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">ปริมาณ/กิโลกรัม</span>
                </div>
                {{ harvestform.product }}
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">ปี</span>
                </div>
                {{ harvestform.years }}
   </br></br>
            </div>
                <button class="btn btn-success" type="submit">Add</button>
                <a href="{% url 'index' %}" class="btn btn-danger" role="button">Cancel</a>
            </div>
        </form>
            </div>
    </div>
            </div>
            <div class="col-md-1"></div>
                    </div>
    </div>
{% endblock %}