{% extends "Farmer/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <section class="content-header">
        <center><h3>
          เพิ่มข้อมูลการเก็บเกี่ยวชองเกษตรกร
        </h3></center>
      </section>
<section class="content">

{% if messages %}
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
 {% for message in messages %}
    <center><p {% if message.tags == "success" %} class="message alert alert-success alert-dismissible"
        {% elif message.tags == "error" %} class="message alert alert-danger alert-dismissible"
            {% elif message.tags == "warning" %} class="message alert alert-warning alert-dismissible"
    {% endif %}
        >
            {{ message }}
        </p></center>

    {% endfor %}
    </div>
    </div>
{% endif %}

    <br>
    <div class="row">
    <div class="col-md-1"></div>
        <div class="col-md-10">
    <div class="box box-success">
            <div class="box-header with-border">
                <center><h3 class="box-title">เพิ่มข้อมูลการเก็บเกี่ยวของ '{{ viewplant.fruit_name }}' สายพันธุ์ : '{{ viewplant.fruit_breed }}' </h3> </center>
            </div>
            <div class="box-body">
                <div class="form-group">
                <form method="POST" enctype="multipart/form-data">
    <div class="form-group">
    {% csrf_token %}
        <div>
            <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">ปริมาณ/กิโลกรัม</span>
                </div>
                {{ harvestform.product|as_crispy_field }}
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">ปี</span>
                </div>
                {{ harvestform.years|as_crispy_field }}
   </br></br>
            </div>
                <button class="btn btn-success" type="submit">Add</button>
                <a href="{% url 'viewHarvest' viewfarmers.id viewplant.id  %}" class="btn btn-danger" role="button">Cancel</a>
            </div>
        </form>
            </div>
    </div>
            </div>
            <div class="col-md-1"></div>
                    </div>
    </div>
{% endblock %}