{% extends "Farmer/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <br>
    <div class="row">
    <div class="col-md-1"></div>
        <div class="col-md-3">
    <div class="box box-primary">
            <div class="box-header with-border">
              <h1 class="box-title">เพิ่มข้อมูลเกษตรกร</h1>
            </div>
            <div class="box-body">
                <div class="form-group">
                <form method="POST" enctype="multipart/form-data">
            <div class="form-group">
                {% csrf_token %}
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">ชื่อ :</span>
                </div>
                {{ farmerform.name |as_crispy_field }}
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">นามสกุล :</span>
                </div>
                {{ farmerform.lastname |as_crispy_field }}
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">อายุ :</span>
                </div>
                {{ farmerform.age |as_crispy_field }}
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">ที่อยู่ :</span>
                </div>
                {{ farmerform.address |as_crispy_field }}
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">เบอร์โทร :</span>
                </div>
                {{ farmerform.tel |as_crispy_field }}
            </div>
                </div>
                <br>
                <button class="btn btn-success" type="submit">Add</button>
                <a href="{% url 'index' %}" class="btn btn-danger" role="button">Cancel</a>
            </div>
        </form>
            </div>
        </div>

    </div>
            </div>
            <div class="col-md-1"></div>
{% endblock %}