{% extends "Farmer/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
            <section class="content-header">
        <center><h3>
          แก้ไขข้อมูลเกษตรกร
        </h3></center>
      </section>
    <br>
    <div class="row">
    <div class="col-md-1"></div>
        <div class="col-md-10">
    <div class="box box-warning">
            <div class="box-header with-border">
              <h3 class="box-title">แก้ไขข้อมูลเกษตรกร</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                <form method="POST" enctype="multipart/form-data">
    <div class="form-group">
    {% csrf_token %}
            <fieldset class="form-group">
                {{ editfarmerform|crispy }}
            </fieldset>

                <button class="btn btn-warning" type="submit">แก้ไข</button>
                <a href="{% url 'index' %}" class="btn btn-danger" role="button">ยกเลิก</a>
            </div>
        </form>
            </div>
    </div>
            </div></div></div>
{% endblock %}