{% extends "Farmer/base.html" %}
{% load static %}
{% block content %}
    <section class="content-header">
        <center><h1>
         <span> ข้อมูลเกษตรกร</span>
        </h1></center>
    </section>
    <section class="content">
        {% if messages %}
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    {% for message in messages %}
                        <center><p {% if message.tags == "success" %} class="message alert alert-success alert-dismissible"
                        {% elif message.tags == "error" %} class="message alert alert-danger alert-dismissible"
                        {% elif message.tags == "warning" %} class="message alert alert-warning alert-dismissible"
                        {% endif %}>
                            {{ message }}
                        </p></center>
                    {% endfor %}
                </div>
            </div>
        {% endif %}



<div class="row" >
    <div class="col-sm-3">
<a type="button" class="btn btn-block btn-primary btn-lg" href="{% url 'createFarmer' user.id %}" style="background-color: #67b168;">เพิ่มข้อมูลเกษตรกร</a>
        </div>


    <div class="col-md-5"></div>
    <div class="col-md-2"></div>
</div>
    <br>




      <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
            <div class="box box-success" >
                <div class="box-header">
                <center><h3 class="box-title">ตาราง ข้อมูลเกษตรกร</h3></center>
                </div>
            <!-- /.box-header -->
	<div class="limiter">
		<div class="container-login100" >
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form class="login100-form validate-form" action="" method="post" name="Login_Form" >
            <div class="box-body">
              <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                  <div class="row"><div class="col-sm-6">

                  </div>
                      <div class="col-sm-6">

                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-12">
                          <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                <thead>
                <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">ชื่อ - นามสกุล</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">อายุ</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">ที่อยู่</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">เบอร์โทรศัพท์</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">สถานะ</th>
                </tr>
                </thead>
                <tbody>
                {% for VF in famerpage %}
                <tr role="row" class="odd">
                  <td><a type="button"  href="{% url 'viewFarmer' VF.id  %}" >{{ VF.name }} {{ VF.lastname }}</a></td>
                    <td>{{ VF.age }}</td>
                    <td>{{ VF.address }}</td>
                    <td>{{ VF.tel }}</td>
                  <td>
                      <a type="button" class="btn btn-warning"  href="{% url 'editFarmer' VF.id  %}">[แก้ไข]</a>
                      <a type="button" class="btn btn-danger"  href="{% url 'deleteFarmer' VF.id  %}">[ลบ]</a>
                  </td>
                </tr>
                {% endfor %}


                </tbody>
              </table></div></div>




                  <div class="row">
                      <div class="col-sm-5">
                      </div>
                      <div class="col-sm-7">
                        <div class="pagination">
                            <span class="step-links">
        {% if famerpage.has_previous %}
            <a href="?page=1&q={{ request.GET.q }}">หน้าแรก</a>
            <a href="?page={{ famerpage.previous_page_number }}&q={{ request.GET.q }}">ก่อนหน้า</a>
        {% endif %}

        <span class="current">
            หน้า {{ famerpage.number }}  จาก {{ famerpage.paginator.num_pages }}
        </span>

        {% if famerpage.has_next %}
            <a href="?page={{ famerpage.next_page_number }}&q={{ request.GET.q }}">ถัดไป</a>
            <a href="?page={{ famerpage.paginator.num_pages }}&q={{ request.GET.q }}">สุดท้าย</a>
        {% endif %}
    </span>
</div>
                      </div>
                  </div>
                </div>
            </div>
				</form>
			</div>
		</div>
	</div>

            </div>
        </div>
          </div>
</section>

{% endblock %}
