{% extends "Farmer/base.html" %}
{% load static %}
{% block content %}
<section class="content">
<div class="row" >
    <div class="col-md-1">

<a type="button" class="btn btn-block btn-success btn-lg" href="{% url 'createPlant' viewfarmer.id %}">เพิ่ม</a>
    </div>
    <div class="col-md-1">
        <a type="button" class="btn btn-block btn-danger btn-lg" href="{% url 'index' %}">ย้อนกลับ</a>
    </div>
    <div class="col-md-10"></div>
</div>
    <br>
      <div class="row">
        <!-- /.col -->
        <div class="col-md-7">
            <div class="box box-success">
                <div class="box-header">
                <h3 class="box-title">ตาราง ข้อมูลการปลูกของ {{ viewfarmer.name }}   {{ viewfarmer.lastname}}  </h3>
                </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap"><div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row"><div class="col-sm-12"><table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                <thead>
                <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">ชื่อ</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">สายพันธุ์</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">จำนวน</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">สถานะ</th></tr>
                </thead>
                <tbody>
                {% for VP in viewplant %}
                <tr role="row" class="odd">
                  <td class="sorting_1"><a type="button" href="{% url 'viewHarvest' VP.Farmer_id_id VP.id  %}">{{ VP.fruit_name }}</a></td>
                    <td>{{ VP.fruit_breed }}</td>
                    <td>{{ VP.scale }} ไร่</td>
                  <td>

                      <a type="button" href="{% url 'editPlant' VP.Farmer_id_id VP.id %}">[แก้ไข]</a>
                      <a type="button" href="{% url 'deletePlant' VP.Farmer_id_id VP.id %}">[ลบ]</a>
                  </td>
                </tr>
                {% endfor %}
                </tbody>
              </table></div></div>
                  <div class="row">
                      <div class="col-sm-5">
                      </div>
                      <div class="col-sm-7">
                          <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                              <ul class="pagination">
                                  <li class="paginate_button previous disabled" id="example2_previous">
                                      <a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0">Previous</a>
                                  </li>
                                  <li class="paginate_button active">
                                      <a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0">1</a>
                                  </li>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
            </div>
        </div>
          </div>
</section>

{% endblock %}
