{% extends "Farmer/base.html" %}
{% load static %}
{% block content %}
    <section class="content-header">
        <center><h1>
         <span> ข้อมูลการปลูกของ '{{ viewfarmer.name }}   {{ viewfarmer.lastname}}'</span>
        </h1></center>
    </section>
    <section class="content">
        {% if messages %}
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    {% for message in messages %}
                        <center><p {% if message.tags == "success" %} class="message alert alert-success alert-dismissible"
                        {% elif message.tags == "error" %} class="message alert alert-danger alert-dismissible"
                        {% elif message.tags == "warning" %} class="message alert alert-warning alert-dismissible"
                        {% endif %}>
                            {{ message }}
                        </p></center>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

<div class="row" >
    <div class="col-md-4">
<a type="button" class="btn btn-block btn-primary btn-lg" href="{% url 'createPlant' viewfarmer.id user.id %}" style="background-color: #67b168;">เพิ่มข้อมูลการปลูกของ {{ viewfarmer.name }}</a>
    </div>
    <div class="col-md-6">

    </div>
    <div class="col-md-2">
        <a type="button" class="btn btn-block btn-light btn-lg right" href="{% url 'index' %}" >ย้อนกลับ</a>
    </div>
</div>
    <br>
      <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header">
               <center> <h3 class="box-title">ตาราง ข้อมูลการปลูกของ '{{ viewfarmer.name }}   {{ viewfarmer.lastname}}</h3> </center>
                    <center> <br><h2>ที่อยู่ {{ viewfarmer.address }}</h2> </center>
                </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap"><div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row"><div class="col-sm-12"><table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                <thead>
                <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">ชื่อ</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">สายพันธุ์</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">จำนวน</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">สถานะ</th></tr>
                </thead>
                <tbody>
                {% for VP in viewplant %}
                <tr role="row" class="odd">
                  <td class="sorting_1"><a type="button" href="{% url 'viewHarvest' VP.Farmer_id_id VP.id  %}">{{ VP.fruit_name }}</a></td>
                    <td>{{ VP.fruit_breed }}</td>
                    <td>{{ VP.scale }} ไร่</td>
                  <td>
                      <a type="button" class="btn btn-warning" href="{% url 'editPlant' VP.Farmer_id_id VP.id %}">[แก้ไข]</a>
                      <a type="button" class="btn btn-danger" href="{% url 'deletePlant' VP.Farmer_id_id VP.id %}">[ลบ]</a>
                  </td>
                </tr>
                {% endfor %}
                </tbody>
              </table></div></div>
                </div>
            </div>
            </div>
        </div>
      <div>
                    <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header">
                <h3 class="box-title">กราฟแสดงข้อมูลการปลูกของ {{ viewfarmer.name }} {{ viewfarmer.lastname }}</h3>
                </div>
                <center><div id="pie-charts">
                    <script>
                        var data = [{
                        values: [{% for VP in viewplant %}{{ VP.scale }},{% endfor %}],
                        labels: [{% for VP in viewplant %}"{{ VP.fruit_name }}",{% endfor %}],
                        type: 'pie'
                        }];
                        var layout = {
                                        height: 400,
                                        width: 500
                                        };
                        Plotly.newPlot('pie-charts', data, layout);
                    </script>
                </div>
                </center>
            </div>
      </div>
      </div>
      </div>
          </div>
</section>
{% endblock %}